<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{35} - %msg%n</pattern>
		</layout>
	</appender>

	<root level="ERROR">
		<appender-ref ref="console" />
	</root>
    <logger name="com.asiadream.jcode.tool.generator.source.JavaSource" level="TRACE" />
    <logger name="com.asiadream.jcode.tool.generator.source.GradleSource" level="TRACE" />
    <logger name="com.asiadream.jcode.tool.generator.JavaService" level="TRACE" />

</configuration>